.accordion {
  $block-name: &; // #{$block-name}__element

  &__element {
    position: relative;
    border-bottom: 1px solid $text-color;

    &.is-active #{$block-name}__button::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      transform: rotate(-180deg);
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    overflow-anchor: none;
    border: 0;

    // padding: 1em 1.25em;
    width: 100%;

    // font-family: inherit;
    // font-weight: 500;
    // font-size: $fz;
    // line-height: $lh-title;
    text-align: left;
    color: #212529;
    background-image: none;
    background-color: $transparent;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &::after {
      content: "";
      flex-shrink: 0;
      margin-left: auto;
      width: 1.25rem;
      height: 1.25rem;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      background-size: 1.25rem;
      background-repeat: no-repeat;
      transition: transform 0.2s ease-in-out;
    }

    &:hover,
    &:focus {
      outline: unset;

      .css-icon-arrow {
        visibility: hidden;
      }
    }

    svg {
      margin-right: 1em;
    }
  }

  &__buton-text {
    position: relative;
    padding-left: 22px;
    width: 100%;
  }

  // &__wrapper {
  //   margin: 15px auto 20px;
  //   width: (100% / 12) * 10;
  // }

  &--over-size {
    #{$block-name}__element {
      border: none;

      &::after {
        content: "";
        position: absolute;
        left: -100%;
        right: -100%;
        bottom: 0;
        border-bottom: 1px solid $text-color;
        width: 1000%;
      }
    }

    #{$block-name}__button {
      &:hover,
      &:focus {
        &::before {
          content: "";
          position: absolute;
          left: -100vh;
          right: -100vh;

          z-index: -1;
          outline: unset;
          width: 400vh;
          height: 100%;

          // background-color: $green;
        }
      }
    }
  }

  // &--text-lg {
  //   #{$block-name}__button {
  //     font-size: $fz-h3;
  //   }
  // }

  // & & {
  //   margin: 0 auto;
  //   width: 90%;
  // }
}

[data-accordion="element"].is-active > [data-accordion="content"] {
  max-height: 100%;
}

[data-accordion="parent"].no-transition [data-accordion="content"] {
  transition: none;
}

[data-accordion="content"] {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
}
